modules = ["web", "python-3.11", "nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run Flask App"

[[workflows.workflow]]
name = "Run Flask App"
author = 43377197
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
